{% extends 'base.html' %}
{% block headers %}
<title>Personal Administrativo</title>
{% endblock %} 
{% block contenido%}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $("#search-input").on("keyup", function() {
            var searchTerm = $(this).val().toLowerCase();
            var found = false; // Variable para indicar si se encontró algún registro
            $(".table tbody tr").each(function() {
                var lineText = $(this).text().toLowerCase();
                if (lineText.indexOf(searchTerm) === -1) {
                    $(this).hide();
                } else {
                    $(this).show();
                    found = true; // Se encontró al menos un registro
                }
            });
            if (!found) {
                var message = "No se encontró ningún registro con el folio '" + searchTerm + "'";
                $("#no-records-message").text(message).show();
            } else {
                $("#no-records-message").hide();
            }
        });
    });
</script>
{% include 'navbar_sidebar.html' %}

  <div id="content">
    <div class="top-navbar">
      <div class="xp-topbar">
        <div class="row">
          <!-- Start XP Col -->
          <div class="col-2 col-md-2 col-lg-2 order-2 order-md-1 align-self-center">
            <div class="xp-menubar">
              <span class="material-icons text-white"
                >signal_cellular_alt
              </span>
            </div>
          </div>
          <!-- End XP Col -->

          <!-- Start XP Col -->
          <div class="col-md-8 col-lg-8 order-3 order-md-2">
            <div class="justify-content-center xp-breadcrumbbar text-center">
              <h4 class="page-title">Consulta general de personal administrativo</h4>
              <ol class="breadcrumb"></ol>
            </div>
          </div>
          
          <!-- End XP Col -->

          <!-- Start XP Col -->
          <div class="col-2 col-md-2 col-lg-2 order-1 order-md-2">
            <div class="xp-profilebar text-right">
              <nav class="navbar p-0">
                <ul class="nav navbar-nav flex-row ml-auto">
                  <li class="nav-item"></li>
                  <li class="nav-item dropdown">
                    <a class="nav-link" href="#" data-toggle="dropdown">
                      <img
                        src="{{ url_for('static', filename='img/user.jpg') }}"
                        style="width: 40px; border-radius: 50%"
                      />
                      <span class="xp-user-live"></span>
                    </a>
                    <ul class="dropdown-menu small-menu">
                      <li>
                        <a href="#">
                          <span class="material-icons">person_outline</span
                          >Perfil
                        </a>
                      </li>
                      <li>
                        <a href="#"
                          ><span class="material-icons">settings</span
                          >Configuración</a
                        >
                      </li>
                      <li>
                        <a href="{{ url_for('logout') }}"
                          ><span class="material-icons">logout</span>Cerrar
                          sesión</a
                        >
                      </li>
                    </ul>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
          <!-- End XP Col -->
        </div>
        <!-- End XP Row -->
      </div>
      
          
  </div>

  <div class="container">
    <div class="row justify-content-center mt-4">
        <div class="col-lg-9">
            <div class="xp-searchbar">
                <div class="input-group">
                    <input type="text" id="search-input" class="form-control placeholder" placeholder="Escribe el folio que deseas buscar">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">BUSCAR</button>
                    </div>
                </div>
            </div>
            <div class="container mt-4">
              {% include 'alerts.html' %} 
            </div>
        </div>
    </div>
  </div>

    <div class="main-content">
      <div class="row">
        <div class="col-md-12">
          <div class="table-wrapper">
            <div class="table-title">
              <div class="row">
                <div class="col-sm-6 p-0 d-flex justify-content-lg-start justify-content-center">
                  <h2 class="ml-lg-2">Personal administrativo</h2>
                </div>

                <div class="col-sm-6 p-0 d-flex justify-content-lg-end justify-content-center">
                  <button type="button" class="btn btn-success" data-toggle="modal" data-target="#nuevo_personal_administrativo">
                    <i class="material-icons">&#xE147;</i><span>Nuevo registro</span>
                  </button>
                  <a href="{{ url_for('reporte_personal') }}" target="_blank" class="btn btn-primary">Reporte General</a>
                </div>

              </div>
            </div>

            <table class="table table-striped table-hover">
              <thead>
                  <th colspan="3" class="font-weight-bold">Nombre</th>
                  <th class="font-weight-bold">Folio</th>
                  <th class="font-weight-bold">Puesto</th>
                  <th class="font-weight-bold">Periodo de contrato</th>
                  <th class="font-weight-bold">Información</th>
              </thead>
              <tbody>
                {%for personal in personal %}
                <tr>
                  <td colspan="3">{{personal.nombre}}</td>
                  <td>{{personal.folio}}</td>
                  <td>{{personal.puesto}}</td>
                  <td>{{personal.periodocontrato}}</td>
                  <td>

                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-{{ personal.id }}">
                      Detalles
                    </button>
                  </td>
                    <!-- Aquí cargamos el contenido del modal desde otro archivo -->
                    {% include 'personal/modal_personal_administrativo.html' %}
                </tr>
              {% endfor%}
              </tbody>
            </table>

            <p id="no-records-message" style="text-align: center; font-weight: bold;"></p>
            
            <div class="clearfix">
              <div class="hint-text">
                <p>Total de registros: <b> {{ total_records }} </b></p>
              </div>
              <div class="row justify-content-center">
                <div class="col-md-auto">
                    {% include 'paginate.html' %}
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Registro de alumnos modal -->
        {% include 'personal/modal_nuevo_administrativo.html' %}
        
      </div>
      {% include 'footer.html' %}
    </div>
  </div>
  {% endblock %}
</div>