<div class="modal fade" id="eliminar-grupo-modal-{{ grupo.id }}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 text-danger"><i class="bi bi-exclamation-triangle"></i> Esta acción no se puede deshacer.</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="fs-5">
                    Estás a punto de eliminar el registro del grupo <strong>{{ grupo.clave }}</strong>
                    de la base de datos.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    <i class="bi bi-arrow-90deg-left"></i> Regresar
                </button>
                <a href="{{ url_for('admin_grupos_delete', id=grupo.id) }}" class="btn btn-danger">Eliminar</a>
            </div>
        </div>
    </div>
</div>