<div class="col-md-12">
    <div class="table-responsive mt-3">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Carrera</th>
                    <th>Cuatrimestre</th>
                    <th>Clave</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for grupo in grupos %}
                    <tr>
                        <th scope="col">{{ grupo.id }}</th>
                        <td>{{ grupo.carrera.nombre }}</td>
                        <td>{{ grupo.cuatrimestre.nombre }}</td>
                        <td>{{ grupo.clave }}</td>
                        <td>
                            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#actualizar-grupo-modal-{{ grupo.id }}"><i class="bi bi-pencil"></i> Actualizar</button>
                            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#eliminar-grupo-modal-{{ grupo.id }}"><i class="bi bi-trash"></i> Eliminar</button>
                        </td>
                    </tr>
                    {% include 'grupos/eliminar-grupo-modal.html' %}
                    {% include 'grupos/actualizar-grupo-modal.html' %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>