<nav class="text-center">
    <div class="col-md-auto">
        <small>Pagina {{ page }} de {{ pages_count }}</small>
    </div>
    <div class="col-md-auto">
        <ul class="pagination justify-content-center">
            {% if page > 1 %}
                <li class="page-item"><a class="page-link" href="{{ url_for('admin_grupos', page=page - 1, records=request.args.get('records', 4)) }}{% for arg in args.keys() %}{% if arg != 'page' and arg != 'include' and args[arg] != '' %}&{{ arg }}={{ args[arg] }}{% endif %}{% endfor %}">Anterior</a></li>
            {% endif %}
            {% for i in range(pages_count) %}
                <li class="page-item {% if page == i+1 %} active {% endif %}"><a class="page-link" href="{{ url_for('admin_grupos', page=i+1, records=request.args.get('records', 4)) }}{% for arg in args.keys() %}{% if arg != 'page' and arg != 'include' and args[arg] != '' %}&{{ arg }}={{ args[arg] }}{% endif %}{% endfor %}">{{ i+1 }}</a></li>
            {% endfor %}
            {% if page < pages_count %}
                <li class="page-item"><a class="page-link" href="{{ url_for('admin_grupos', page=page + 1, records=request.args.get('records', 4)) }}{% for arg in args.keys() %}{% if arg != 'page' and arg != 'include' and args[arg] != '' %}&{{ arg }}={{ args[arg] }}{% endif %}{% endfor %}">Siguiente</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
