{% extends 'base.html' %}
{% block headers %}
    <title>Reporte de estatus | IEMSFP</title>
{% endblock %}
{% block contenido%}
    <div class="row mt-3 justify-content-center">
        <div class="col-lg-8">
            <p class="d-print-none mt-2">
                <button
                  type="button"
                  class="btn btn-primary"
                  onClick="window.print()">
                  <i class="bi bi-printer"></i>
                  Imprimir
                </button>
            </p>
        </div>
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col-lg-8">
            <h5>Reporte de estatus de alumnos</h5>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-3">
            <canvas id="egresados-pie"></canvas>
        </div>
        <div class="col-md-5">
            <canvas id="egresados-barra"></canvas>
        </div>
    </div>
    <div class="row mt-7 d-none d-print-block justify-content-center">
        <table class="table">
            <tbody>
                <tr>
                    <td>
                        <hr>
                        <p class="text-center">
                            <b>Nombre y firma<br />
                            Encargado del area de titulación.</b>
                        </p>
                    </td>
                    <td>
                        <hr>
                            <p class="text-center">
                            <b>Firma y sello de Control Escolar.</b>
                            </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    {% include 'graficas/egresados-barra.html' %}
    {% include 'graficas/egresados-pie.html' %}
{% endblock %}