{% extends 'base.html' %}
{% block headers %}
  <title>Reporte de sexo | IEMSFP</title>
{% endblock %}
{% block contenido%}
<div class="wrapper">
  <!-- sidebar -->
  <nav id="sidebar" class="d-print-none">
    <div class="sidebar-header d-print-none">
      <img
        src="{{ url_for('static', filename='img/logo.png') }}"
        class="img-fluid"
      />
    </div>
    <ul class="list-unstyled components d-print-none">
      <li class="active">
        <a href="{{ url_for('panel_principal') }}" class="dashboard"
          ><i class="material-icons">dashboard</i>
          <span>Panel principal</span></a>
      </li>
      <li class="dropdown">
        <a href="#pageSubmenu1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <i class="material-icons">apps</i><span>Administración</span>
        </a>
            <ul class="collapse list-unstyled menu" id="pageSubmenu1">
              <li>
                <a href="{{ url_for('alumnos') }}">Alumnos</a>
              </li>
              <li>
                <a href="{{ url_for('docentes') }}">Docentes</a>
              </li>
              <li>
                <a href="{{ url_for('docentes') }}">Personal administrativo</a>
              </li>
            </ul>
      </li>
      <li class="dropdown">
        <a href="#pageSubmenu2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <i class="material-icons">school</i><span>Academia</span>
        </a>
            <ul class="collapse list-unstyled menu" id="pageSubmenu2">
              <li>
                <a href="{{ url_for('admin_carreras') }}">Carreras</a>
              </li>
              <li>
                <a href="{{ url_for('admin_grupos') }}">Grupos</a>
              </li>
              <li>
                <a href="#">Periodos</a>
              </li>
              <li>
                <a href="#">Ciclos escolares</a>
              </li>
            </ul>
      <li class="dropdown">
        <a href="#pageSubmenu3" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <i class="material-icons">donut_small</i><span>Reportes</span>
        </a>
        <ul class="collapse list-unstyled menu" id="pageSubmenu3">
          <li>
            <a href="{{ url_for('reportes') }}">Reporte de estatus</a>
            <a href="#">Reporte alumnos por sexo</a>
          </li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#pageSubmenu4" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <i class="material-icons">border_color</i><span>Usuarios</span>
        </a>
          <ul class="collapse list-unstyled menu" id="pageSubmenu4">
            <li>
              <a href="{{ url_for('form_usuarios') }}">Administrar Usuarios</a>
            </li>
          </ul>
      </li>
    </ul>
  </nav>

  <div id="content">
        <div class="top-navbar d-print-none">
            <div class="xp-topbar">
                <div class="row">
                <!-- Start XP Col -->
                <div
                    class="col-2 col-md-1 col-lg-1 order-2 order-md-1 align-self-center"
                >
                    <div class="xp-menubar">
                    <span class="material-icons text-white"
                        >signal_cellular_alt
                    </span>
                    </div>
                </div>
                <!-- End XP Col -->

                <!-- Start XP Col -->
                <div class="col-md-5 col-lg-7 order-3 order-md-2">
                    <div class="justify-content-center xp-breadcrumbbar text-center">
                    </div>
                </div>
                <!-- End XP Col -->

                <!-- Start XP Col -->
                <div class="col-10 col-md-6 col-lg-4 order-1 order-md-3">
                    <div class="xp-profilebar text-right">
                    <nav class="navbar p-0">
                        <ul class="nav navbar-nav flex-row ml-auto">
                        <li class="nav-item"></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="#" data-toggle="dropdown">
                            <img
                                src="{{ url_for('static', filename='img/user.jpg') }}"
                                style="width: 40px; border-radius: 50%"
                            />
                            <span class="xp-user-live"></span>
                            </a>
                            <ul class="dropdown-menu small-menu">
                            <li>
                                <a href="#">
                                <span class="material-icons">person_outline</span
                                >Perfil
                                </a>
                            </li>
                            <li>
                                <a href="#"
                                ><span class="material-icons">settings</span
                                >Configuración</a
                                >
                            </li>
                            <li>
                                <a href="{{ url_for('logout') }}"
                                ><span class="material-icons">logout</span>Cerrar
                                sesión</a
                                >
                            </li>
                            </ul>
                        </li>
                        </ul>
                    </nav>
                    </div>
                </div>
                <!-- End XP Col -->
                </div>
                <!-- End XP Row -->
            </div>
        </div>
      
        <div class="main-content">
          <div class="row justify-content-center ">
              <div class="col-md-10">
                  <div class="row justify-content-center">
                      <div class="col-lg-8">
                          <p class="d-print-none mt-2">
                              <button type="button" class="btn btn-primary" onClick="window.print()">
                                  <i class="bi bi-printer"></i> Imprimir
                              </button>
                          </p>
                      </div>
                  </div>
                  <div class="row justify-content-center">
                      <div class="col-lg-8">
                          <h5 class="text-center mt-2">Reporte de alumnos por sexo</h5>
                      </div>
                  </div>
                  <div class="row justify-content-center mt-3">
                      <div class="col-md-6">
                          <canvas id="egresados-pie-sexo"></canvas>
                      </div>
                      <div class="col-md-6">
                          <canvas id="egresados-barra-sexo"></canvas>
                      </div>
                  </div>
                  <div class="container">
                    <div class="row">
                        <div class="col-md-12 mt-5">
                            <div class="row mt-5 d-none d-print-block justify-content-center">
                                <table class="table mt-5">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <hr class="w-25 mx-auto">
                                                <p class="text-center">
                                                    <b>Firma y sello de Control Escolar.</b>
                                                </p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>  
              </div>
          </div>
        </div>
      {% include 'footer.html' %}
      
  </div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% include 'graficas/egresados-barra-sexo.html' %}
{% include 'graficas/egresados-pie-sexo.html' %}
{% endblock %}