{% extends 'base.html' %}
{% block headers %}
  <title>Reporte de estatus | IEMSFP</title>
{% endblock %}
{% block contenido%}
<div class="wrapper">
  <!-- sidebar -->
  <nav class="d-print-none" id="sidebar">
    <div class="sidebar-header">
      <img
        src="{{ url_for('static', filename='img/logo.png') }}"
        class="img-fluid"
      />
    </div>
    <ul class="list-unstyled components">
      <li class="active">
        <a href="{{ url_for('panel_principal') }}" class="dashboard"
          ><i class="material-icons">dashboard</i>
          <span>Panel principal</span></a>
      </li>
      <li class="dropdown">
        <a href="#pageSubmenu1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <i class="material-icons">apps</i><span>Administración</span>
        </a>
            <ul class="collapse list-unstyled menu" id="pageSubmenu1">
              <li>
                <a href="{{ url_for('alumnos') }}">Alumnos</a>
              </li>
              <li>
                <a href="{{ url_for('docentes') }}">Docentes</a>
              </li>
              <li>
                <a href="{{ url_for('personal_administrativo') }}">Personal administrativo</a>
              </li>
            </ul>
      </li>
      <li class="dropdown">
        <a href="#pageSubmenu2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <i class="material-icons">school</i><span>Academia</span>
        </a>
            <ul class="collapse list-unstyled menu" id="pageSubmenu2">
              <li>
                <a href="{{ url_for('admin_carreras') }}">Carreras</a>
              </li>
              <li>
                <a href="{{ url_for('admin_cuatrimestres') }}">Cuatrimestres</a>
              </li>
              <li>
                <a href="{{ url_for('admin_grupos') }}">Grupos</a>
              </li>
            </ul>
      </li>
      <li class="dropdown">
        <a href="#pageSubmenu3" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <i class="material-icons">format_list_numbered</i><span>Materias</span>
        </a>
            <ul class="collapse list-unstyled menu" id="pageSubmenu3">
              <li>
                <a href="{{ url_for('admin_materias') }}">Lista de materias</a>
              </li>
            </ul>
      </li>
      <li class="dropdown">
        <a href="#pageSubmenu4" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <i class="material-icons">donut_small</i><span>Reportes</span>
        </a>
        <ul class="collapse list-unstyled menu" id="pageSubmenu4">
          <li>
            <a href="{{ url_for('reportes') }}">Reporte de estatus</a>
            <a href="{{ url_for('reportes_sexo') }}">Reporte alumnos por sexo</a>
          </li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#pageSubmenu5" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <i class="material-icons">border_color</i><span>Usuarios</span>
        </a>
          <ul class="collapse list-unstyled menu" id="pageSubmenu5">
            <li>
              <a href="{{ url_for('form_usuarios') }}">Administrar Usuarios</a>
            </li>
          </ul>
      </li>
    </ul>
  </nav>

  <div id="content">
        <div class="top-navbar d-print-none">
            <div class="xp-topbar">
                <div class="row">
                <!-- Start XP Col -->
                <div
                    class="col-2 col-md-1 col-lg-1 order-2 order-md-1 align-self-center"
                >
                    <div class="xp-menubar">
                    <span class="material-icons text-white"
                        >signal_cellular_alt
                    </span>
                    </div>
                </div>
                <!-- End XP Col -->

                <!-- Start XP Col -->
                <div class="col-md-5 col-lg-7 order-3 order-md-2">
                    <div class="justify-content-center xp-breadcrumbbar text-center">
                    </div>
                </div>
                <!-- End XP Col -->

                <!-- Start XP Col -->
                <div class="col-10 col-md-6 col-lg-4 order-1 order-md-3">
                    <div class="xp-profilebar text-right">
                    <nav class="navbar p-0">
                        <ul class="nav navbar-nav flex-row ml-auto">
                        <li class="nav-item"></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="#" data-toggle="dropdown">
                            <img
                                src="{{ url_for('static', filename='img/user.jpg') }}"
                                style="width: 40px; border-radius: 50%"
                            />
                            <span class="xp-user-live"></span>
                            </a>
                            <ul class="dropdown-menu small-menu">
                            <li>
                                <a href="{{ url_for('logout') }}"
                                ><span class="material-icons">logout</span>Cerrar
                                sesión</a
                                >
                            </li>
                            </ul>
                        </li>
                        </ul>
                    </nav>
                    </div>
                </div>
                <!-- End XP Col -->
                </div>
                <!-- End XP Row -->
            </div>
        </div>
      
        <div class="main-content">
          <div class="row justify-content-center ">
              <div class="col-md-10">
                  <div class="row justify-content-center">
                      <div class="col-lg-11">
                          <p class="d-print-none mt-2">
                              <button type="button" class="btn btn-primary" onClick="window.print()">
                                  <i class="bi bi-printer"></i> Imprimir
                              </button>
                          </p>
                      </div>
                  </div>

                  <div class="container-fluid">
                    <div class="row mt-3">
                      <div class="col-12 d-flex justify-content-center">
                        <img src="static/img/Logo.png" alt="Logo 1" class="img-fluid d-none d-print-block" style="width: 55%;">
                      </div>
                    </div>
                  </div>
                  
                  <div class="container-fluid">
                    <div class="row mt-3 justify-content-center">
                      <div class="col-md-12">
                        <div class="col-md-12">
                          <h2>Reporte de distribucion de estatus de alumnos</h2>
                          </div>
                          <div class="col-md-8">
                            <h5>Instituto Ejecutivo Mexicano</h5>
                          </div>
                          <div class="col-md-10 d-flex align-items-center">
                            <h5 class="mr-1">Fecha de reporte:</h5>
                            <h5 class="fw-normal mb-0">{{ fecha_de_reporte }}</h5>
                          </div>                        
                          <div class="col-md-10 d-flex align-items-center">
                            <h5 class="mr-1">Encargado(a) del area: </h5>
                            <h5>Licenciada en Pedagogía Liliana Piña Segundo</h5>
                          </div>
                        
                      </div>
                  </div> 
                  </div>
                  <div class="row justify-content-center mt-3">
                      <div class="col-md-6">
                          <canvas id="egresados-pie"></canvas>
                          <h6 class="text-center mt-2">La gráfica de pastel que se muestra anteriormente representa la distribución y el total de alumnos que contiene cada estatus, así como el porcentaje con el que cuentan.</h6>
                      </div>
                      <div class="col-md-6">
                          <canvas id="egresados-barra"></canvas>
                          <h6 class="text-center mt-2">La gráfica de barras que se muestra anteriormente representa la distribución y el total de alumnos que contiene cada estatus.</h6>
                      </div>
                  </div>
                  <div class="container">
                    <div class="row">
                        <div class="col-md-12 mt-5">
                            <div class="row mt-5 d-none d-print-block justify-content-center">
                                <table class="table mt-5">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <hr class="w-25 mx-auto">
                                                <p class="text-center">
                                                    <b>Firma y sello de Control Escolar.</b>
                                                </p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                  </div>  
              </div>
          </div>
        </div>
      {% include 'footer.html' %}
      
  </div>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>  
{% include 'graficas/egresados-barra.html' %}
{% include 'graficas/egresados-pie.html' %}
{% endblock %}