{% extends 'base.html' %}
{% block headers %}
<title>Reporte general de personal administrativo</title>
{% endblock %}
{% block contenido%}
<div class="container-fluid">
    <div class="row mt-3">
    <div class="col-12 d-flex justify-content-center">
        <img src="static/img/Logo.png" alt="Logo 1" class="img-fluid d-none d-print-block" style="width: 55%;">
    </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
                <h2 class="d-print-none row mt-3 justify-content-center">Visualización previa del documento</h2>
                <h2 class="d-none d-print-block row mt-3 justify-content-center">Reporte general de personal administrativo</h2>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">   
        <div class="row mt-3 justify-content-center">
            <div class="col-md-12">
                <p class="d-print-none">
                    <button type="button" class="btn btn-primary mb-4" onClick="window.print()">
                        <i class="bi bi-printer"></i>
                        Imprimir
                    </button>
                </p>
            </div>
        </div>
    </div>
</div>

        <div class="col-md-12">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th colspan="3" class="font-weight-bold">Nombre</th>
                        <th class="font-weight-bold">Folio</th>
                        <th class="font-weight-bold">Puesto</th>
                        <th colspan="3"  class="font-weight-bold">Periodo de contrato</th>
                        <th class="font-weight-bold">Correo</th>
                        <th class="font-weight-bold">Teléfono</th>
                        <th class="font-weight-bold">Domicilio</th>
                    </tr>
                </thead>
                <tbody>
                    {% for personal in personal %}
                        <tr>
                            <td colspan="3">{{ personal.nombre }}</td>
                            <td>{{ personal.folio }}</td>
                            <td>{{ personal.puesto }}</td>
                            <td colspan="3"> Inicio: {{ personal.periodocontratoini.strftime('%Y-%m-%d') }} Termino: {{ personal.periodocontratofin.strftime('%Y-%m-%d') }}</td>
                            <td>{{ personal.correo }}</td>
                            <td>{{ personal.telefono }}</td>
                            <td>{{ personal.domicilio }}</td>
                            <td>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 mt-5">
                    <div class="row mt-5 d-none d-print-block justify-content-center">
                        <table class="table mt-5">
                            <tbody>
                                <tr>
                                    <td>
                                        <hr class="w-25 mx-auto">
                                        <p class="text-center">
                                            <b>Firma y sello de Control Escolar.</b>
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}