{% extends 'base.html' %}
{% block headers %}
<title>Reporte del alumno</title>
{% endblock %}
{% block contenido%}

<div class="container-fluid">
    <div class="row mt-3">
    <div class="col-12 d-flex justify-content-center">
        <img src="../../static/img/Logo.png" alt="Logo 1" class="img-fluid d-none d-print-block" style="width: 55%;">
    </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="row mt-3 justify-content-center d-print-none ">Visualización previa del documento</h2>
            <h2 class=" mt-3 justify-content-center d-none d-print-block">Reporte de alumno: {{ alumno.nombre }}</h2>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">   
        <div class="row mt-3 justify-content-center">
            <div class="col-md-12">
                <p class="d-print-none">
                    <button type="button" class="btn btn-primary mb-4" onClick="window.print()">
                        <i class="bi bi-printer"></i>
                        Imprimir
                    </button>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <h5>Nombre</h5>
                        <h6>{{ alumno.nombre }}</h6>
                    </div>
                    <div class="col-md-4">
                        <h5>Folio</h5>
                        <h6>{{ alumno.folio }}</h6>
                    </div>
                    <div class="col-md-2">
                        <h5> Estatus</h5>
                        <p>
                            {% if alumno.estatus == 0 %}
                                <h6 class="badge bg-success text-light" style="font-size: 14px;">Activo</h6>
                            {% elif alumno.estatus == 1 %}
                                <h6 class="badge bg-warning text-dark" style="font-size: 14px;">Pendiente</h6>
                            {% elif alumno.estatus == 2 %}
                                <h6 class="badge bg-danger text-light" style="font-size: 14px;">Baja</h6>
                            {% else %}
                                <h6 class="badge bg-secondary text-light" style="font-size: 14px;">Graduado</h6>
                            {% endif %}
                        </p>
                    </div>
                    <div class="col-md-6">
                        <h5>Carrera</h5>
                        <h6>{{ alumno.carrera }}</h6>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <h5><i class="bi bi-geo-alt-fill"></i> Domicilio</h5>
                        <h6>
                            <a href="https://www.google.com/maps/search/{{ alumno.domicilio }}" target="_blank" class="modal-link">
                                {{ alumno.domicilio }} <i class="bi bi-box-arrow-up-right"></i>
                            </a>
                        </h6>
                    </div>
                    <div class="col-md-4">
                        <h5><i class="bi bi-envelope"></i> Correo</h5>
                        <h6>
                            <a href="mailto:{{ alumno.correo }}" target="_blank" class="modal-link">
                                    {{ alumno.correo }}
                                </a>
                        </h6>
                    </div>
                    <div class="col-md-4">
                        <h5><i class="bi bi-telephone"></i> Telefono</h5>
                        <h6>
                                <a href="https://wa.me/{{ alumno.telefono }}" target="_blank" class="modal-link">
                                    {{ alumno.telefono }}
                                </a>
                            </h6>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <h5>CURP</h5>
                        <h6>{{ alumno.curp }}</h6>
                    </div>
                    <div class="col-md-4">
                        <h5>Fecha de inscripción</h5>
                        <h6>{{ alumno.fecha_inscripcion }}</h6>
                    </div>
                    <div class="col-md-4">
                        <h5>Sexo</h5>
                        <p>
                            {% if alumno.sexo == 0 %}
                                <h6>Femenino</h6>
                            {% else %}
                                <h6>Masculino</h6>
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12 mt-5">
            <div class="row mt-5 d-none d-print-block justify-content-center">
                <table class="table mt-5">
                    <tbody>
                        <tr>
                            <td>
                                <hr class="w-25 mx-auto">
                                <p class="text-center">
                                    <b>Firma y sello de Control Escolar.</b>
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}