<div class="col-md-6">
    <form action="{{ url_for('admin_carreras') }}" method="post" class="mb-3">
        <div class="input-group mb-3">
            <input name="nombre" type="text" class="form-control" placeholder="Nombre de la carrera" required>
            <button class="btn btn-outline-primary" type="submit">Registrar <i class="bi bi-arrow-right"></i></button>
        </div>
    </form>
    <div class="table-responsive mt-3">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for carrera in carreras %}
                    <tr>
                        <th scope="col">{{ carrera.id }}</th>
                        <td>{{ carrera.nombre }}</td>
                        <td>
                            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#actualizar-carrera-modal-{{ carrera.id }}"><i class="bi bi-pencil"></i> Actualizar</button>
                            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#eliminar-carrera-modal-{{ carrera.id }}"><i class="bi bi-trash"></i> Eliminar</button>
                        </td>
                    </tr>
                    {% include 'carreras/eliminar-carrera-modal.html' %}
                    {% include 'carreras/actualizar-carrera-modal.html' %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>