<div class="modal fade" id="resetear-usuario-modal-{{ usuarios.id }}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 text-danger"><i class="bi bi-exclamation-triangle"></i> Esta acción no se puede deshacer.</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="fs-5">
                    ¿Estás seguro? esta acción reseteara la contraseña del usuario <strong>{{ usuarios.nom_user }}</strong>
                    Es decir, la contraseña sera el nombre del usuario, y este tendrá que ingresar al sistema para cambiarla nuevamente.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="bi bi-arrow-90deg-left"></i> Cancelar</button>
                <a href="{{ url_for('usuario_reset', id=usuario.id) }}" class="btn btn-danger">RESETEAR</a>
            </div>
        </div>
    </div>
</div>