<div id="nuevo_alumno" class="modal fade" tabindex="-1" class="text-dark">
  <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title fs-1" id="exampleModalLabel">Registro de alumnos</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{{url_for ('post_alumnos')}}" method="POST" enctype="multipart/form-data">
                    <div class="input-group mb-3">
                        <span class="input-group-text" for="nombre_alumno">Nombre del alumno: </span>
                        <input type="text" name="nombre_alumno" id="nombre_alumno" class="form-control" required/>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" for="curp_alumno">CURP: </span>
                        <input type="text" name="curp_alumno" id="curp_alumno" class="form-control" required/>
                        <span class="input-group-text" for="folio_alumno">Folio: </span>
                        <input type="text" name="folio_alumno" id="folio_alumno" class="form-control" required/>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" for="telefono_alumno" class="form-control">Teléfono: </span>
                        <input type="text" class="form-control" id="telefono_alumno" name="telefono_alumno" rows="3" style="resize: none" required/>
                        <span class="input-group-text" for="correo_alumno" class="form-control">Correo: </span>
                        <input type="text" class="form-control" id="correo_alumno" name="correo_alumno" rows="3" style="resize: none" required/>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" for="estatus_alumno">Estatus: </span>
                        <select name="estatus_alumno" id="estatus_alumno" class="form-control">
                          <option value="0">Activo</option>
                          <option value="1">Pendiente</option>
                          <option value="2">Baja</option>
                          <option value="3">Graduado</option>
                        </select>
                        <span class="input-group-text" for="fecha_inscripcion">Fecha de inscripción: </span>
                        <input type="date" name="fecha_inscripcion" id="fecha_inscripcion" class="form-control" rows="3" style="resize: none" required/>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" for="carrera_alumno">Carrera: </span>
                        <input type="text" name="carrera_alumno" id="carrera_alumno" class="form-control" required/>
                        <span class="input-group-text" for="sexo_alumno">Sexo: </span>
                        <select name="sexo_alumno" id="sexo_alumno" class="form-control form-select-sm">
                          <option value="0">Femenino</option>
                          <option value="1">Masculino</option>
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" for="domicilio_alumno">Domicilio: </span>
                        <textarea class="form-control" id="domicilio_alumno" name="domicilio_alumno" rows="3" style="resize: none"></textarea>
                    </div>
                    <div class="row mt-3 justify-content-end">
                        <div class="col-md-auto">
                            <button class="btn btn-info">Enviar</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                              <i class="bi bi-arrow-90deg-left"></i> Regresar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
  </div>
</div>