<div class="modal fade" id="modal_actualizar_alumno_{{ alumno.id }}" tabindex="-1" class="text-dark">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title fs-5" id="exampleModalLabel">Actualizar alumno</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{{ url_for('update_alumno', id=alumno.id) }}" method="post" enctype="multipart/form-data">
                    <div class="input-group mb-3">
                        <span class="input-group-text" for="n_nombre_alumno">Nombre del alumno: </span>
                        <input type="text" name="n_nombre_alumno" id="n_nombre_alumno" class="form-control" value="{{ alumno.nombre }}" required
                        />
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" for="n_curp_alumno">CURP: </span>
                        <input type="text" name="n_curp_alumno" id="n_curp_alumno" class="form-control" value="{{ alumno.curp }}" required
                        />
                        <span class="input-group-text" for="n_folio_alumno">Folio: </span>
                        <input type="text" name="n_folio_alumno" id="n_folio_alumno" class="form-control" value="{{ alumno.folio }}" required
                        />
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" for="n_telefono_alumno" class="form-control">Teléfono: </span>
                        <input type="text" class="form-control" id="n_telefono_alumno" name="n_telefono_alumno" rows="3" style="resize: none" value="{{ alumno.telefono }}" required
                        />
                        <span class="input-group-text" for="n_correo_alumno" class="form-control">Correo: </span>
                        <input type="text" class="form-control" id="n_correo_alumno" name="n_correo_alumno" rows="3" style="resize: none" value="{{ alumno.correo }}" required
                        />
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" for="n_estatus_alumno">Estatus: </span>
                        <select name="n_estatus_alumno" id="n_estatus_alumno" class="form-control">
                          <option value="#">Eliga una opción</option>
                          <option value="Activo" selected>Activo</option>
                          <option value="Pendiente" selected>Pendiente</option>
                          <option value="Baja" selected>Baja</option>
                        </select>
                        <span class="input-group-text" for="n_fecha_inscripcion_alumno">Fecha de inscripción: </span>
                        <input type="date" name="n_fecha_inscripcion_alumno" id="n_fecha_inscripcion_alumno" class="form-control" rows="3" style="resize: none" value="{{ alumno.fecha_inscripcion }}" required
                        />
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" for="n_carrera_alumno">Carrera: </span>
                        <input type="text" name="n_carrera_alumno" id="n_carrera_alumno" class="form-control" value="{{ alumno.carrera }}" required
                        />
                    </div>
                    <div class="mb-3">
                        <span class="input-group-text" for="n_domicilio_alumno">Domicilio: </span>
                        <textarea class="form-control" id="n_domicilio_alumno" name="n_domicilio_alumno" rows="3" style="resize: none" value=""
                        >{{ alumno.domicilio }}</textarea>
                    </div>
                    <div class="row mt-3 justify-content-end">
                        <div class="col-md-auto">
                            <button class="btn btn-info">Enviar</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                              <i class="bi bi-arrow-90deg-left"></i> Regresar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>