<div class="modal fade" id="myModal-{{ alumno.id }}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title fs-5" id="exampleModalLabel">Detalles del alumno {{ alumno.nombre }}</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h5>Nombre</h5>
                                        <h6>{{ alumno.nombre }}</h6>
                                    </div>
                                    <div class="col-md-4">
                                        <h5>Folio</h5>
                                        <h6>{{ alumno.folio }}</h6>
                                    </div>
                                    <div class="col-md-2">
                                        <h5> Estatus</h5>
                                        <p>
                                            {% if alumno.estatus == 0 %}
                                                <h6 class="badge bg-success text-light" style="font-size: 14px;">Activo</h6>
                                            {% elif alumno.estatus == 1 %}
                                                <h6 class="badge bg-warning text-light" style="font-size: 14px;">Pendiente</h6>
                                            {% elif alumno.estatus == 2 %}
                                                <h6 class="badge bg-danger text-light" style="font-size: 14px;">Baja</h6>
                                            {% else %}
                                                <h6 class="badge bg-secondary text-light" style="font-size: 14px;">Graduado</h6>
                                            {% endif %}
                                        </p>
                                    </div>
                                    <div class="col-md-6">
                                        <h5>Carrera: </h5>
                                        <h6>{{ alumno.grupo.carrera.nombre }}</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-4">
                                        <h5><i class="bi bi-geo-alt-fill"></i> Domicilio</h5>
                                        <h6>
                                            <a href="https://www.google.com/maps/search/{{ alumno.domicilio }}" target="_blank" class="modal-link">
                                                {{ alumno.domicilio }} <i class="bi bi-box-arrow-up-right"></i>
                                            </a>
                                        </h6>
                                    </div>
                                    <div class="col-md-4">
                                        <h5><i class="bi bi-envelope"></i> Correo</h5>
                                        <h6>
                                            <a href="mailto:{{ alumno.correo }}" target="_blank" class="modal-link">
                                                    {{ alumno.correo }}
                                                </a>
                                        </h6>
                                    </div>
                                    <div class="col-md-4">
                                        <h5><i class="bi bi-telephone"></i> Telefono</h5>
                                        <h6>
                                                <a href="https://wa.me/{{ alumno.telefono }}" target="_blank" class="modal-link">
                                                    {{ alumno.telefono }}
                                                </a>
                                            </h6>
                                    </div>
                                </div>
                            </div>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-4">
                                        <h5>CURP</h5>
                                        <h6>{{ alumno.curp }}</h6>
                                    </div>
                                    <div class="col-md-4">
                                        <h5>Fecha de inscripción</h5>
                                        <h6>{{ alumno.fecha_inscripcion }}</h6>
                                    </div>
                                    <div class="col-md-4">
                                        <h5>Sexo</h5>
                                        <p>
                                            {% if alumno.sexo == 0 %}
                                                <h6>Femenino</h6>
                                            {% else %}
                                                <h6>Masculino</h6>
                                            {% endif %}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer justify-content-end">
                <div class="row mt-0">
                    <div class="col-md-auto">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="bi bi-arrow-90deg-left"></i> Regresar</button>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_actualizar_alumno_{{ alumno.id }}">
                            <i class="bi bi-pencil"></i>
                            Actualizar
                        </button>
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal_eliminar_alumno-{{ alumno.id }}">
                            <i class="bi bi-trash"></i> 
                            Eliminar
                        </button>
                        <a href="{{ url_for('reporte_alumno_id', id=alumno.id) }}" target="_blank" class="btn btn-success">Generar reporte</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Aquí cargamos el contenido del modal desde otro archivo -->
{% include 'alumnos/modal_actualizar_alumno.html' %}
{% include 'alumnos/modal_eliminar_alumno.html' %}