<script>
    const egresados_barra_ctx = document.getElementById('egresados-barra');

    new Chart(egresados_barra_ctx, {
        type: 'bar',
        data: {
            labels: ['Activo', 'Pendiente', 'Baja', 'Graduado'],
            datasets: [{
                label: '# de alumnos',
                data: [
                    parseInt('{{ alumnos.filter(models.Alumnos.estatus==0).all()|length }}'),
                    parseInt('{{ alumnos.filter(models.Alumnos.estatus==1).all()|length }}'),
                    parseInt('{{ alumnos.filter(models.Alumnos.estatus==2).all()|length }}'), 
                    parseInt('{{ alumnos.filter(models.Alumnos.estatus==3).all()|length }}')
                ],
                backgroundColor: [
                    'rgba(201, 203, 207, 0.8)',
                    'rgba(153, 102, 255, 0.8)',
                    'rgba(255, 99, 132, 0.8)',
                    'rgba(75, 192, 192, 0.8)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>