<script>
    const egresados_barra_ctx = document.getElementById('egresados-barra-sexo');

    new Chart(egresados_barra_ctx, {
        type: 'bar',
        data: {
            labels: ['Femenino', 'Masculino'],
            datasets: [{
                label: '# de alumnos',
                data: [
                    parseInt('{{ alumnos.filter(models.Alumnos.sexo==0).all()|length }}'),
                    parseInt('{{ alumnos.filter(models.Alumnos.sexo==1).all()|length }}'),
                ],
                backgroundColor: [
                    'rgba(201, 203, 207, 0.8)',
                    'rgba(255, 99, 132, 0.8)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>