<div class="modal fade" id="nuevo_docente" tabindex="-1" class="text-dark">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Nuevo docente</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
            </div>
            <div class="modal-body">
                <form action="{{url_for ('post_docentes')}}" method="post" enctype="multipart/form-data">
                    <div class="input-group mb-3">
                        <span class="input-group-text" for="nombre_docente">Nombre del docente: </span>
                        <input type="text" name="nombre_docente" id="nombre_docente" class="form-control "
                        />
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" for="folio_docente">Folio: </span>
                        <input type="text" name="folio_docente" id="folio_docente" class="form-control"
                        />
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" for="telefono_docente" class="form-control">Teléfono: </span>
                        <input type="text" class="form-control" id="telefono_docente" name="telefono_docente" rows="3" style="resize: none" 
                        />
                        <span class="input-group-text" for="correo_docente" class="form-control">Correo: </span>
                        <input type="text" class="form-control" id="correo_docente" name="correo_docente" rows="3" style="resize: none" 
                        />
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" for="periodo_contrato_docente">Periodo de contrato: </span>
                        <input type="text" name="periodo_contrato_docente" id="periodo_contrato_docente" class="form-control" rows="3" style="resize: none"
                        />
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" for="carrera_docente">Carrera: </span>
                        <input type="text" name="carrera_docente" id="carrera_docente" class="form-control" 
                        />
                    </div>
                    <div class="mb-3">
                        <span class="input-group-text" for="domicilio_docente">Domicilio: </span>
                        <textarea class="form-control" id="domicilio_docente" name="domicilio_docente" rows="3" style="resize: none" 
                        ></textarea>
                    </div>
                    <div class="row mt-3 justify-content-end">
                        <div class="col-md-auto">
                            <button class="btn btn-info">Enviar</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                              <i class="bi bi-arrow-90deg-left"></i> Regresar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>