{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="flashes">
            {% for message in messages %}
                {% if 'Error' in message %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong><i class="bi bi-exclamation-triangle"></i></strong> 
                {% else %}
                <div class="alert alert-info alert-dismissible fade show" role="alert">
                    <strong><i class="bi bi-info-circle"></i></strong> 
                {% endif %}
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}