{% extends 'base.html' %}
{% block headers %}
<title>Sistema Integral IEMSFP</title>
{% endblock %} 
{% block contenido%}
<div class="wrapper">
  <!-- sidebar -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <img
        src="{{ url_for('static', filename='img/logo.png') }}"
        class="img-fluid"
      />
    </div>
    <ul class="list-unstyled components">
      <li class="active">
        <a href="{{ url_for('panel_principal') }}" class="dashboard"
          ><i class="material-icons">dashboard</i>
          <span>Panel principal</span></a>
      </li>
      <li class="dropdown">
        <a href="#pageSubmenu1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <i class="material-icons">apps</i><span>Administración</span>
        </a>
            <ul class="collapse list-unstyled menu" id="pageSubmenu1">
              <li>
                <a href="{{ url_for('alumnos') }}">Alumnos</a>
              </li>
              <li>
                <a href="{{ url_for('docentes') }}">Docentes</a>
              </li>
              <li>
                <a href="{{ url_for('personal_administrativo') }}">Personal administrativo</a>
              </li>
            </ul>
      </li>
      <li class="dropdown">
        <a href="#pageSubmenu2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <i class="material-icons">school</i><span>Academia</span>
        </a>
            <ul class="collapse list-unstyled menu" id="pageSubmenu2">
              <li>
                <a href="{{ url_for('admin_carreras') }}">Carreras</a>
              </li>
              <li>
                <a href="{{ url_for('admin_cuatrimestres') }}">Cuatrimestres</a>
              </li>
              <li>
                <a href="{{ url_for('admin_grupos') }}">Grupos</a>
              </li>
            </ul>
      </li>
      <li class="dropdown">
        <a href="#pageSubmenu3" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <i class="material-icons">format_list_numbered</i><span>Materias</span>
        </a>
            <ul class="collapse list-unstyled menu" id="pageSubmenu3">
              <li>
                <a href="{{ url_for('admin_materias') }}">Lista de materias</a>
              </li>
            </ul>
      </li>
      <li class="dropdown">
        <a href="#pageSubmenu4" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <i class="material-icons">donut_small</i><span>Reportes</span>
        </a>
        <ul class="collapse list-unstyled menu" id="pageSubmenu4">
          <li>
            <a href="{{ url_for('reportes') }}">Reporte de estatus</a>
            <a href="{{ url_for('reportes_sexo') }}">Reporte alumnos por sexo</a>
          </li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#pageSubmenu5" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <i class="material-icons">border_color</i><span>Usuarios</span>
        </a>
          <ul class="collapse list-unstyled menu" id="pageSubmenu5">
            <li>
              <a href="{{ url_for('form_usuarios') }}">Administrar Usuarios</a>
            </li>
          </ul>
      </li>
    </ul>
  </nav>

  <div id="content">
    <div class="top-navbar">
      <div class="xp-topbar">
        <div class="row">
          <!-- Start XP Col -->
          <div
            class="col-2 col-md-1 col-lg-1 order-2 order-md-1 align-self-center"
          >
            <div class="xp-menubar">
              <span class="material-icons text-white"
                >signal_cellular_alt
              </span>
            </div>
          </div>
          <!-- End XP Col -->

          <!-- Start XP Col -->
          <div class="col-md-5 col-lg-7 order-3 order-md-2">
            <div class="justify-content-center xp-breadcrumbbar text-center">
            </div>
          </div>
          <!-- End XP Col -->

          <!-- Start XP Col -->
          <div class="col-10 col-md-6 col-lg-4 order-1 order-md-3">
            <div class="xp-profilebar text-right">
              <nav class="navbar p-0">
                <ul class="nav navbar-nav flex-row ml-auto">
                  <li class="nav-item"></li>
                  <li class="nav-item dropdown">
                    <a class="nav-link" href="#" data-toggle="dropdown">
                      <img
                        src="{{ url_for('static', filename='img/user.jpg') }}"
                        style="width: 40px; border-radius: 50%"
                      />
                      <span class="xp-user-live"></span>
                    </a>
                    <ul class="dropdown-menu small-menu">
                      <li>
                        <a href="{{ url_for('logout') }}"
                          ><span class="material-icons">logout</span>Cerrar
                          sesión</a
                        >
                      </li>
                    </ul>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
          <!-- End XP Col -->
        </div>
        <!-- End XP Row -->
      </div>
    </div>

    <div class="container">
      <div class="content">
        <div class="cards">
          <div class="card">
            <div class="box">
              <h1 style="font-size: 26px;">{{ total_records_alumn }}</h1>
              <h3 style="font-size: 28px;">Estudiantes</h3>
            </div>
            <div class="icon-case mb-3">
              <img src="{{ url_for('static', filename='img/icono_alumno.png') }}" width="40em" class="img-fluid"/>
            </div>
          </div>
          <div class="card">
            <div class="box">
              <h1 style="font-size: 26px;">{{ total_records_docen }}</h1>
              <h3 style="font-size: 28px;">Docentes</h3>
            </div>
            <div class="icon-case mb-3">
              <img src="{{ url_for('static', filename='img/icono_docente.png') }}" width="40em" class="img-fluid"/>
            </div>
          </div>
          <div class="card">
            <div class="box">
              <h1 style="font-size: 26px;">{{ total_records_per }}</h1>
              <h3 style="font-size: 28px;">Administrativos</h3>
            </div>
            <div class="icon-case mb-3">
              <img src="{{ url_for('static', filename='img/icono_personal_administrativo.png') }}" width="40em" class="img-fluid"/>
            </div>
          </div>
          <div class="card">
            <div class="box">
              <h1 style="font-size: 26px;">{{ total_records_carreras }}</h1>
              <h3 style="font-size: 28px;">Carreras</h3>
            </div>
            <div class="icon-case mb-3">
              <img src="{{ url_for('static', filename='img/icon_carreras.png') }}" width="40em" class="img-fluid"/>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="main-content">
      <div class="row justify-content-center ">
        <!-- Primera parte -->
        <div class="col-md-6 mb-5"> <!-- Aquí inicia la primera columna (6 reguillas) -->
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <h4 class="text-center mt-3">Respaldo de Base de Datos</h4>
            </div>
          </div>
          <div class="row justify-content-center mt-3 mb-2">

            <p class="mb-4" >Haz clic en el botón para realizar el respaldo y descargarlo:</p>
        
            <form class="mb-5" action="/respaldo" method="GET">
                <button type="submit" class="btn btn-success">Realizar Respaldo y Descargar</button>
            </form>
          </div>
        </div> <!-- Aquí finaliza la primera columna (6 reguillas) -->
    
        <!-- Segunda parte (para la segunda gráfica) -->
        <!-- Agrega la segunda gráfica aquí (siguiendo una estructura similar) -->
    
      </div>
    </div>
    
         

    {% include 'footer.html' %}

  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% include 'graficas/egresados-barra.html' %}
{% include 'graficas/egresados-pie.html' %}
{% include 'graficas/egresados-barra-sexo.html' %}
{% include 'graficas/egresados-pie-sexo.html' %}
{% endblock %}