<nav id="sidebar">
    <div class="sidebar-header">
      <img
        src="{{ url_for('static', filename='img/logo.png') }}"
        class="img-fluid"
      />
    </div>
    <ul class="list-unstyled components">
      <li class="active">
        <a href="{{ url_for('panel_principal') }}" class="dashboard"
          ><i class="material-icons">dashboard</i>
          <span>Panel principal</span></a>
      </li>
      <li class="dropdown">
        <a href="#pageSubmenu1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <i class="material-icons">apps</i><span>Administración</span>
        </a>
            <ul class="collapse list-unstyled menu" id="pageSubmenu1">
              <li>
                <a href="{{ url_for('alumnos') }}">Alumnos</a>
              </li>
              <li>
                <a href="{{ url_for('docentes') }}">Docentes</a>
              </li>
              <li>
                <a href="{{ url_for('docentes') }}">Personal administrativo</a>
              </li>
            </ul>
      </li>
      <li class="dropdown">
        <a href="#pageSubmenu2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <i class="material-icons">school</i><span>Academia</span>
        </a>
            <ul class="collapse list-unstyled menu" id="pageSubmenu2">
              <li>
                <a href="{{ url_for('admin_carreras') }}">Carreras</a>
              </li>
              <li>
                <a href="{{ url_for('admin_grupos') }}">Grupos</a>
              </li>
              <li>
                <a href="#">Periodos</a>
              </li>
              <li>
                <a href="#">Ciclos escolares</a>
              </li>
            </ul>
      <li class="dropdown">
        <a href="#pageSubmenu3" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <i class="material-icons">donut_small</i><span>Reportes</span>
        </a>
        <ul class="collapse list-unstyled menu" id="pageSubmenu3">
          <li>
            <a href="{{ url_for('reportes') }}">Reporte de estatus</a>
            <a href="#">Reporte alumnos por sexo</a>
          </li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#pageSubmenu4" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <i class="material-icons">border_color</i><span>Usuarios</span>
        </a>
          <ul class="collapse list-unstyled menu" id="pageSubmenu4">
            <li>
              <a href="{{ url_for('form_usuarios') }}">Administrar Usuarios</a>
            </li>
          </ul>
      </li>
    </ul>
  </nav>